@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @font-face{
      font-family: 'Beatrice';
      src: url(../pages/fonts/Beatrice.woff);
    }
    
    @font-face{
      font-family: 'Satoshi';
      src: url(../pages/fonts/Satoshi-Regular.otf);
    }

    .imag{ 
      background-image: url(../public/eclipses.png);
      background-size: cover; 
    
    }

    .custom { font-family: 'Beatrice'; }

    .custom2 { font-family: 'Satoshi'; }

    .borderss{ border: .25px #707070 solid; }

    .gradient-bg {
        background: linear-gradient(90deg, #2A0134 0%, #013925 100%);
    }

    .green{ color:  #2EBD59;}

}